
.gradle/
build/
**/build/

.idea/
*.iml
*.ipr
*.iws

local.properties
local/
*.log
replay_pid*
hs_err_pid*

.externalNativeBuild/
.cxx/
*.jks
*.keystore
keystore.properties

serviceAccount*.json

*.apk
*.ap_
*.dex
*.class
*.jar
*.war
*.ear

.DS_Store
Thumbs.db
Desktop.ini

compose-cache/
.kotlinc/

!app/google-services.json
